<div class="container contenedor row">
  <div class="col-8">
    <div class="accordion" id="accordionExample" >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="material-symbols-outlined icono">
                perm_phone_msg
                </span> Información de contacto
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body componentes-checkout">
              <div class="form-floating mb-3 componentes">
                <input type="tel" class="form-control" id="telefono" placeholder="teléfono" required>
                <label for="telefono">Teléfono o Whatsapp</label>
                </div>
                <div class="form-floating mb-3 componentes">
                  <input type="email" class="form-control" id="email" placeholder="email" required>
                  <label for="email">Correo electrónico (e-mail)</label>
              </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="material-symbols-outlined icono">
                local_shipping
                </span> Dirección de envío
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body  componentes-checkout">
             
              <div class="componentes-checkout">
                <div class="form-floating mb-3 componentes">
                  <input type="text" class="form-control " id="primerNombre" placeholder="Primer nombre" required>
                  <label for="primerNombre">Primer nombre</label>
                </div>
                <div class="form-floating mb-3 componentes">
                  <input type="text" class="form-control " id="SegundoNombre" placeholder="Segundo nombre">
                  <label for="SegundoNombre">Segundo nombre</label>
                </div>
              </div>
              <div class="componentes-checkout">
                <div class="form-floating mb-3 componentes">
                  <input type="text" class="form-control " id="PrimerApellido" placeholder="Primer apellido" required>
                  <label for="PrimerApellido">Primer apellido</label>
                </div>
                <div class="form-floating mb-3 componentes">
                  <input type="text" class="form-control " id="segundoApellido" placeholder="Segundo apellido">
                  <label for="segundoApellido">Segundo apellido</label>
                </div>
              </div>
              <div class="componentes-checkout">
                <div class="form-floating mb-3 direccion">
                  <input type="text" class="form-control" id="direccion" placeholder="Dirección" required>
                  <label for="direccion">Dirección</label>
                </div>
              </div>
              <div class="componentes-checkout">
                <select class="form-select form-control componentes" aria-label="Default select example" required>
                  <option selected disabled>Selecciona el país</option>
                  <option value="1">Panamá</option>
                </select>
                <select class="form-select form-control componentes" aria-label="Default select example" required>
                  <option selected disabled>Selecciona la provincia</option>
                  <option value="1">Panamá</option>
                  <option value="1">Bocas del Toro</option>
                  <option value="1">Chiriquí</option>
                  <option value="1">Coclé</option>
                  <option value="1">Colón</option>
                  <option value="1">Darien</option>
                  <option value="1">Herrera</option>
                  <option value="1">Panamá Oeste</option>
                  <option value="1">Veraguas</option>
                  <option value="1">Comarca Emberá-Wounaan</option>
                  <option value="1">Comarca Ngäbe-Buglé</option>
                  <option value="1">Guna Yala</option>
                </select>
              </div>
            </div>
           
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="material-symbols-outlined icono">
                credit_card
                </span>  Método de pago
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Efectivo
                </label>
              </div>
              <div class="form-check" >
                <input class="form-check-input" disabled type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                <label class="form-check-label" for="flexRadioDefault2">
                Paypal 
                </label>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    
    </div>
    <button type="button" class="btn btn-success contenedor" >Pagar</button>
    <div class="col-4"></div>
</div>