<div class="container contenedor row">
  <div *ngIf="deshabilitarFormario">
    <app-alert [tipoAlerta]="'Info'" [mensaje]="'Llene los campos señalados para completar la compra'"></app-alert>
    </div>
    <app-no-hay-nada-aqui [texto]="'Gracias por su compra!, su id para dar seguimiento es: '+idOrden" *ngIf="compra_realizada"> </app-no-hay-nada-aqui>

  <div class="col-8" *ngIf="!compra_realizada">
    <div class="accordion" id="accordionExample" >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="material-symbols-outlined icono">
                perm_phone_msg
                </span> Información de contacto
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body componentes-checkout">
              <div class="form-floating mb-3 componentes">
                <input type="tel" class="form-control" id="telefono" (focusout)="actualizar()"  [(ngModel)]="orden.persona.telefono" placeholder="teléfono" required>
                <label for="telefono">Teléfono o Whatsapp</label>
                </div>
                <div class="form-floating mb-3 componentes">
                  <input type="email" class="form-control" id="email" (focusout)="actualizar()"  [(ngModel)]="orden.persona.correo" placeholder="email" required>
                  <label for="email">Correo electrónico (e-mail)</label>
              </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="material-symbols-outlined icono">
                local_shipping
                </span> Dirección de envío
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body  componentes-checkout">
             
              <div class="componentes-checkout">
                <div class="form-floating mb-3 componentes">
                  <input type="text" (focusout)="actualizar()" class="form-control" [(ngModel)]="orden.persona.primerNombre" id="primerNombre" placeholder="Primer nombre" required>
                  <label for="primerNombre">Primer nombre</label>
                </div>
                <div class="form-floating mb-3 componentes">
                  <input type="text" (focusout)="actualizar()"  class="form-control " id="SegundoNombre" [(ngModel)]="orden.persona.segundoNombre" placeholder="Segundo nombre">
                  <label for="SegundoNombre">Segundo nombre</label>
                </div>
              </div>
              <div class="componentes-checkout">
                <div class="form-floating mb-3 componentes">
                  <input type="text" (focusout)="actualizar()"  class="form-control " id="PrimerApellido" [(ngModel)]="orden.persona.primerApellido" placeholder="Primer apellido" required>
                  <label for="PrimerApellido">Primer apellido</label>
                </div>
                <div class="form-floating mb-3 componentes">
                  <input type="text" (focusout)="actualizar()"  class="form-control " id="segundoApellido" [(ngModel)]="orden.persona.segundoApellido" placeholder="Segundo apellido">
                  <label for="segundoApellido">Segundo apellido</label>
                </div>
              </div>
              <div class="componentes-checkout">
                <div class="form-floating mb-3 direccion">
                  <input type="text" (focusout)="actualizar()"  class="form-control" id="direccion" [(ngModel)]="orden.persona.direccion" placeholder="Dirección" required>
                  <label for="direccion">Dirección</label>
                </div>
              </div>
              <div class="componentes-checkout">
                <select class="form-select form-control componentes" (focusout)="actualizar()"  [(ngModel)]="orden.persona.pais" aria-label="Default select example" required>
                  <option selected disabled>Selecciona el país</option>
                  <option value="Panamá">Panamá</option>
                </select>
                <select class="form-select form-control componentes" (focusout)="actualizar()"  [(ngModel)]="orden.persona.provincia" aria-label="Default select example" required>
                  <option selected disabled>Selecciona la provincia</option>
                  <option value="Panamá">Panamá</option>
                  <option value="Bocas del Toro">Bocas del Toro</option>
                  <option value="Chiriquí">Chiriquí</option>
                  <option value="Coclé">Coclé</option>
                  <option value="Colón">Colón</option>
                  <option value="Darien">Darien</option>
                  <option value="Herrera">Herrera</option>
                  <option value="Panamá Oeste">Panamá Oeste</option>
                  <option value="Veraguas">Veraguas</option>
                  <option value="Comarca Emberá-Wounaan">Comarca Emberá-Wounaan</option>
                  <option value="Comarca Ngäbe-Buglé">Comarca Ngäbe-Buglé</option>
                  <option value="Guna Yala">Guna Yala</option>
                </select>
              </div>
            </div>
           
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="material-symbols-outlined icono">
                credit_card
                </span>  Método de pago
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div *ngFor="let opcion of metodoPago">
                <label [for]="'metodoPago'+opcion" >{{opcion}}</label>
                <input type="radio" [(ngModel)]="orden.metodoPago" [disabled]="opcion!=='Efectivo'" [value]="opcion"  class="form-check-input" [id]="'metodoPago'+opcion" name="metodoPago" required>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    
    </div>
    <button  class="btn btn-success contenedor centrar-horizontal centrar-texto" 
    (click)="pagar()" 
    [disabled]="validarCampos(orden.metodoPago) 
             || validarCampos(orden.persona.primerNombre)
             || validarCampos(orden.persona.primerApellido)
             || validarCampos(orden.persona.telefono)
             || validarCampos(orden.persona.direccion)
             || validarCampos(orden.persona.pais)
             || validarCampos(orden.persona.provincia)"
             type="submit">
             <app-cargando-boton *ngIf="cargando"></app-cargando-boton>
             <span class="material-symbols-outlined">
              autopay
              </span>
              &nbsp; Realizar compra</button>
    
</div>
<div class="col-4" *ngIf="!compra_realizada">
  <app-resumen [mostrarBoton]="false" [totalPedido]="total"></app-resumen>
</div>
</div>