<div class="container">
<div *ngFor="let producto of productos">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="'../../assets/Images/'+producto.thumbnail" class="img-fluid rounded-start" [alt]="producto.nombre">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">{{producto.descripcion}}</p>
              <p class="card-text">{{producto.precio}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
    
</div>
