
      <div class="card tarjeta" style="width: 18rem;" >
        <img [src]="'../../assets/Images/'+producto.thumbnail" class="card-img-top" [alt]="producto.nombre|titlecase">
        <div class="card-body">
         <h5 (click)="verProducto()" class="card-title">{{producto.nombre|titlecase}}</h5>
          <p class="card-text">{{producto.descripcion|titlecase}}</p>
          <p class="card-text">{{producto.precio|currency}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button class="btn btn-success centrar-horizontal botones-tarjeta" (click)="agregarCarrito()">
              <span class="material-symbols-outlined">
                add_shopping_cart
              </span>Agregar al carrito
          </button>

        </div>
      </div>
      <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
