<div class="container row">
  <app-loading *ngIf="cargando"></app-loading>
    <div class="col-8">
      <div class="separado" *ngIf="orden.elementos.length===0">
        <app-no-hay-nada-aqui [texto]="'No has agregado nada al carrito!'"></app-no-hay-nada-aqui>

      </div>

<div class="card separado" *ngFor="let elemento of orden.elementos">
    <div class="card-body" *ngIf="elemento">
        <div class="row">
        <div class="col">
          <figure>
            <img [src]="elemento.imagen" >
            <figcaption>{{elemento.nombre | titlecase}}</figcaption>
          </figure> 
        </div>
        <div class="col-1"><strong>ID:</strong>{{elemento.id |titlecase}}
        </div>
        <div class="col">{{elemento.descripcion |titlecase}}</div>
        <div class="col" >{{elemento.precio |currency}}</div>
        <div class="col">
          <div class="mb-3">
            <label for="cantidadCompra">Cantidad</label>
            <input type="number" readonly class="form-control cantidad" (change)="actualizar()" [(ngModel)]="elemento.cantidadCompra" step="1" min="1" [max]="elemento.cantidadStock!" id="cantidadCompraCarrito" placeholder="Primer nombre" required>
         
          </div>
          <span class="material-symbols-outlined btn btn-warning incrementadores" (click)="add(elemento)">
            add_circle
            </span>
            <span class="material-symbols-outlined btn btn-primary incrementadores" (click)="resta(elemento)">
              remove
              </span>
        </div>
        <div class="col"><button (click)="EliminarCarrito(elemento)"
          class="btn btn-danger centrar-horizontal">
          
          <span class="material-symbols-outlined">
            delete
            </span>
          Eliminar
        </button></div>
        </div>
    
    </div>
  </div>
</div>
<div class="col-4">
    <div class="separado">
     <app-resumen [totalPedido]="total" [mostrarBoton]="true"></app-resumen>   
    </div>
</div>
</div>