<div class="container row">
  <app-loading *ngIf="cargando"></app-loading>
    <div class="col-8">
<div class="card separado" *ngFor="let elemento of orden.elementos">
    <div class="card-body">
        <div class="row">
        <div class="col">
          <figure>
            <img [src]="'../../assets/Images/'+elemento.thumbnail" >
            <figcaption>{{elemento.nombre | titlecase}}</figcaption>
          </figure> 
        </div>
        <div class="col"><strong>ID:</strong>{{elemento.id |titlecase}}</div>
        <div class="col">{{elemento.descripcion |titlecase}}</div>
        <div class="col" >{{elemento.precio |currency}}</div>
        <div class="col"><button (click)="EliminarCarrito(elemento)"
          class="btn btn-danger centrar-horizontal">
          
          <span class="material-symbols-outlined">
            delete
            </span>
          Eliminar
        </button></div>
        </div>
    
    </div>
  </div>
</div>
<div class="col-4">
    <div class="separado">
     <app-resumen [totalPedido]="total" [mostrarBoton]="true"></app-resumen>   
    </div>
</div>
</div>