<div class="card container">
  <div class="card-body">
    <h5 class="card-title">{{ producto.nombre|titlecase}}</h5>
    <div class="row">
      <div class="col-5">
        <figure class="figure">
        <img [src]="producto.imagen" class="img-thumbnail" alt="...">
        <figcaption class="figure-caption text-end"></figcaption>
      </figure>
      </div>
      <div class="col">
        <div class="d-flex">
          <div><h5><strong>Precio: </strong></h5></div>
          <div ><h5>{{producto.precio |currency}}</h5></div>
        </div>
        <div class="row">
          <div class="d-flex">
          <div><strong>Descripción: </strong></div>
          <p>{{producto.descripcion|titlecase}}</p>
        </div>
       
        </div>
        <span class="material-symbols-outlined btn btn-warning incrementadores" (click)="add(producto)">
          add_circle
          </span>
          <span class="material-symbols-outlined btn btn-primary incrementadores" (click)="resta(producto)">
            remove
            </span>
        <div class="form-floating mb-3 componentes">
          <input type="number"  class="form-control cantidad" readonly value="min"  [(ngModel)]="producto.cantidadCompra" step="1" min="1" [max]="producto.cantidadStock!" id="cantidadCompra" placeholder="Primer nombre" required>
          <label for="cantidadCompra">Cantidad</label>
        </div>
        <div class="row">
          <div class="display-botones">
          <button (click)="agregarCarrito()" [disabled]="cargandoProducto"
            class="btn btn-primary botones centrar-horizontal centrar-texto" >
            <app-cargando-boton *ngIf="cargando"></app-cargando-boton>
            <span class="material-symbols-outlined">add_shopping_cart</span>
            Agregar al carrito
          </button>
          <button class="btn btn-primary botones centrar-horizontal centrar-texto" (click)="seguirComprando()">
            <span class="material-symbols-outlined ">
              shopping_bag
              </span> Seguir comprando
          </button>
        <button [disabled]="cargandoProducto" class="btn btn-success botones centrar-horizontal centrar-texto" (click)="irFinalizarCompra()">
          <span class="material-symbols-outlined ">
            payments
            </span> ¡Cómpralo ahora!
        </button>
        
        </div>
        </div>
      </div>
    
    </div>
  </div>
</div>

