.display-botones{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.botones{
    margin: 5px;
}
.cantidad{
    max-width: 100px;
    
    margin: 5px;
}
app-cargando-boton{
   margin-right: 10px;
}