<div class="container"></div>
<nav class="navbar bg-light">
    <div class="container-fluid">
    
      <a class="navbar-brand home" routerLink="productos">
       
          <span class="material-symbols-outlined icono">
          home
          </span>
     Tu tiendita</a>
     <div class="carrito">
        <span class="material-symbols-outlined icono position-relative">
        shopping_cart
        <span *ngIf="cantidadArticulos!=0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cantidad-articulos">
        {{cantidadArticulos}}
    <span class="visually-hidden">unread messages</span>
  </span>
        </span>
     </div>
      <form class="d-flex" role="search">
        
        <input class="form-control me-2" type="search" placeholder="escribe aquí" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
