<div class="container"></div>
<nav class="navbar bg-light">
    <div class="container-fluid">
    
      <a class="navbar-brand home" routerLink="productos">
       
          <span class="material-symbols-outlined icono">
          home
          </span>
     Tu tiendita</a>
     <div class="carrito">
      <span class="material-symbols-outlined icono">
        shopping_cart
        </span>
     </div>
      <form class="d-flex" role="search">
        
        <input class="form-control me-2" type="search" placeholder="escribe aquí" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
