.caja-carrito{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
   cursor: pointer;
}
.home{
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Verdana, sans-serif;
}

.cantidad-articulos{
    font-size: 10px;
}