<div class="container"></div>
<nav class="navbar bg-light">
    <div class="container-fluid">
    
      <a class="navbar-brand home" routerLink="productos">
       
          <span class="material-symbols-outlined icono">
          home
          </span>
     Tu tiendita</a>
     <div class="caja-carrito" (click)="verCarrito()">
     <app-carrito-dynamic class="caja-carrito"></app-carrito-dynamic>
     </div>
    
      <form class="d-flex" role="search">
        
        <button class="btn btn-success" *ngIf="authenticator.authStatus==='authenticated'" (click)="authenticator.signOut()">Salir</button>

      </form>
    </div>
  </nav>
