/* You can add global styles to this file, and also import other style files */
@import '~@aws-amplify/ui-angular/theme.css';
.centrar-horizontal{
    display: flex;
    align-items: center;
}
.centrar-texto{
    justify-content: center;
}
.icono{
    font-size: 36px;
    margin :5px;
}
.separacion-navbar{
    margin-top: 20px;
}


input:invalid{
    border: red solid 3px;
  }
  select:invalid{
    border: red solid 3px;
  }
