/* You can add global styles to this file, and also import other style files */
.centrar-horizontal{
    display: flex;
    align-items: center;
}
.centrar-texto{
    justify-content: center;
}
.icono{
    font-size: 36px;
    margin :5px;
}